<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
        <%= @user.email %>
        <%= button_to "Edit", edit_user_path(@user), class: "nav-link", method: :get %>
      </h1>
    </section>
  </aside>
</div>
