<div>
  <div class="card" style="width: 18rem;">
  <%= image_tag latest_uploaded_selling_image.picture.url %>
  <div class="card-body">
    <p class="card-text">
      <%= latest_uploaded_selling_image.content %>
    </p>
  </div>
</div>
