/* selling-images */

.selling-images {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .timestamp, .content, .title, .valid_from, .valid_to, .delete_button {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .expired {
    display: block;
    margin-left: 60px;
    color: red;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.top-pages {
  .top-image {
    aspect-ratio: 200 / 130;
  }

  .to-latest-uploaded-list {
    text-decoration: none;
  }

  .card-container {
    max-width: 200px;
  }

  .card {
    border: 0px;
  }
  .card-body {
    padding: 5px;
  }
  .card-text {
    font-size: 14px;
  }

  .price-container {
    position: absolute;
    left: 0; bottom: 0;
    color:white;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0px 20px 20px 0px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 8px;
    padding: 2px 12px 2px 8px;
  }
}
