<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">Pictus</span>
  </a>

  <ul class="nav nav-pills d-flex justify-content-center align-items-center">
    <% if logged_in? %>
      <% if current_user.admin? %>
        <li class="nav-item"><%= link_to "ユーザー一覧", users_path, class: "nav-link" %></li>
      <% end %>
      <li class="nav-item"><%= link_to "マイページ", current_user, class: "nav-link", method: :get %></li>
      <li class="nav-item"><%= link_to "出品", user_selling_images_path(current_user), class: "nav-link", method: :get %></li>
    <% else %>
      <li  class="nav-item"><%= link_to "ログイン", login_path, class: "nav-link" %></li>
    <% end %>
  </ul>
</header>
